body {
    font-weight: 500;
}

.name {
    margin-left: -2rem;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(214, 0, 178);
}

.contact-photo {
    margin-left: -1.5rem;
}

.profilepic {
    background-image: url('../images/contact-profile-image.jpg');
}

@media only screen and (max-width: 480px) {
    
    .name {
        display: inline;
    }
}